{
    "Name": "{{ .Data.Company }}"
    "Date": "{{ .Data.Date }}"
    "ARLIst": ["
    {{ range $key, $value := .Data.L.AR.ARList }}
        {
            "Juergen CataractMode" : {{ GetValue $value "CataractMode" }}
        }
    {{ end }}
    "]"
}
